# Keep GitHub Actions up to date with GitHub's Dependabot...
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#package-ecosystem
# Working with uv
# https://docs.astral.sh/uv/guides/integration/dependency-bots/#dependabot

version: 2

updates:
  - package-ecosystem: uv
    directory: /
    schedule:
      interval: weekly
