# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: "${{ matrix.python-version }}"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pyflakes mypy
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        flake8 EMpy tests examples scripts
    - name: Lint with pyflakes
      run: |
        pyflakes EMpy tests examples scripts
    - name: Lint with mypy
      run: |
        mypy EMpy tests examples scripts
    - name: Run tests
      run: |
        python setup.py test
